@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(97, 97, 97);
  color: #fbf5f3;
}

.blue-border {
  border: 2px solid blue;
}

.green-border {
  border: 2px solid green;
}

.red-border {
  border: 2px solid red;
}
